body {
    margin: 2em !important;
    justify-items: center;
}

h1 {
    text-align: center;
    margin: 2rem !important;
    text-shadow: 5px 5px 10px rgba(6, 110, 126, 0.4);
}

.content {
    margin: 5em 2em 2em 2em !important;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rules {
    border: solid red 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    padding: 1em;
    background-color: rgb(253, 242, 229);
}

.rules h5 {
    margin: 0;
}

.rules span {
    color: red;
    margin: 5px;
    font-weight: 500;
}

.field {
    margin: 25px;
    width: 40px;
    height: 140px;
    border-style: none solid solid solid;
    border-color: black;
    border-width: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: inline-flex;
    flex-direction: column-reverse;
    position: relative;
}

.win {
    border-color: green;
    animation: wave 1s;
}

.bottle,
.field {
    transition: all 0.3s ease-out;
}

.field:hover {
    box-shadow: 0px 2px 20px 10px #159eb0
}

.selected:hover {
    box-shadow: none;
}

.box {
    z-index: -1;
    height: 25%;
    width: 100%;
}

.selected {
    transform: translateY(-2.1rem);
}

.won {
    text-align: center;
}

.won h3 {
    color: green;
    font-weight: 600;
}

.restart-button {
    text-align: center;
}

@media (max-width: 1000px) {
    .rules {
        margin: 10px;
    }
}

.shake {
    animation: shake 0.7s;
    animation-iteration-count: 1;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

@keyframes wave {

    0%,
    50% {
        transform: translateY(10px);
    }

    50%,
    100% {
        transform: translateY(0);
    }
}